<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>NAme</th>
      <th>Control</th>
      <th>Volume</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.name }}</td>
      <td>{{ forecast.url }}</td>
      <td><button (click)="play(forecast)">Play</button>
      <button (click)="stop()">Stop</button></td>
      <td><button (click)="volumeUp()">Up</button>
      <button (click)="volumeDown()">Dn</button></td>
    </tr>
  </tbody>
</table>

